body{
    height: 100vh;
}
nav {
    width: 100%;
    background-color: orange;
    height: 25vh;
    margin-top: 37.5vh;
}
ul {
    background-color: pink;
    margin-left: 15%;
    margin-right: 15%;
    height: 25vh;
}
li {
    background-color: blue;
    width: 24%;
    display: inline-block;
    list-style: none;
    text-align: center;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
p {
    font-family: 'Slabo 27px', sans-serif;
    font-size: 1.5em;
    padding-top: 2em;
    margin: 40px;
    line-height: 1.6em;
    background-color:  rgb(97, 97, 150);
    margin-left: 15%;
    margin-right: 15%;
    height: 25vh;
}